# torch==2.0.1
jupyter
matplotlib
numpy
scipy
tqdm
pandas
seaborn
posteriordb
jaxtyping
statsmodels
nflows @ git+https://github.com/Tennessee-Wallaceh/nflows
marginal_tail_adaptive_flows @ git+https://github.com/Tennessee-Wallaceh/marginalTailAdaptiveFlow